In [109]:
import editdistance
import pandas as pd
import numpy as np

In [110]:
image_num = '4086'

In [111]:
# Test set
df_test = pd.read_csv('/Users/tommylee/Desktop/STA 160/Test Sets/df_'+image_num +'.csv')
df_test = df_test.applymap(str)

In [112]:
# Training set
df_truth = pd.read_csv('/Users/tommylee/Desktop/STA 160/Truth Tables/df_'+image_num+'t.csv')
df_truth = df_truth.applymap(str)

In [113]:
full_list = [] #Edit distance outputs for each cell
char_len = [] #Character length for each cell.
for i,j in zip(df_test,df_truth):
    sublist = []
    sublist2 = []
    for k,l in zip(range(len(df_test[i].values)),range(len(df_truth[j].values))):
        sublist.append(editdistance.eval(df_test[i].values[k],df_truth[j].values[l]))
        sublist2.append(len(df_truth[j].values[l]))
    char_len.append(sublist2)
    full_list.append(sublist)

In [114]:
# Get error rates for each cell.
final_list =[]
for i in range(len(full_list)):
    subsies = []
    for j in range(len(full_list[i])):
        subsies.append(full_list[i][j]/char_len[i][j])
    final_list.append(subsies)

In [115]:
# Make into dataframe of error rates
a= np.array(final_list).transpose().tolist()
b = pd.DataFrame(a,columns =['img_ID_error','wine_name_error','bottle_price_error','case_price_error'])
b = b.drop(['img_ID_error'],axis = 1)
b.to_csv('df_error_'+image_num+'.csv')
b

    wine_name_error  bottle_price_error  case_price_error
0          0.040816                 0.0          0.666667
1          0.024390                 0.0          0.000000
2          0.104167                 1.0          1.333333
3          0.020408                 0.5          1.250000
4          0.104167                 0.5          1.250000
5          0.000000                 1.0          0.750000
6          0.021739                 1.0          1.000000
7          0.000000                 1.0          0.750000
8          0.000000                 1.0          1.000000
9          0.550725                 1.0          1.000000
10         0.021739                 1.0          0.750000
11         0.111111                 1.0          0.750000

In [116]:
# Get average error rates for each column and the total error rate is the last column 
col_means = [np.mean(i) for i in final_list]
col_means2 = [[np.mean(i)] for i in final_list]
c = np.array(col_means2).transpose().tolist()

ave = pd.DataFrame(c,columns = ['img_ID_accuracy_average','wine_name_accuracy_average','bottle_price_accuracy_average','case_price_accuracy_average'])
error_rate = sum(col_means)/3
ave['error_rate'] = error_rate
ave = ave.drop(['img_ID_accuracy_average'],axis = 1)
ave.to_csv('df_ave_error_'+image_num+'.csv')
ave

,wine_name_accuracy_average,bottle_price_accuracy_average,case_price_accuracy_average,error_rate
0,0.083272,0.75,0.875,0.569424